:root {
    --main-color: #e50914;
    --secondary-color: #141414;
    --primary-color: #ffff;
    --dark-red-on-hover: #f40612;
    --other-red: #b20610;
    --nominal-white: #b3b3b3;
}


body {
    background-image: url(images/bg_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--primary-color);
}

.container {
    width: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form p {
    color: var(--nominal-white);
    font-size: 0.9em;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.reset-btn {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    background-color: var(--main-color);
    border: none;
    border-radius: 3px;
    color: var(--primary-color);
    cursor: pointer;
}

.reset-btn:hover {
    background-color: var(--dark-red-on-hover);
}

.extra-links p {
    font-size: 0.9em;
    color: var(--nominal-white);
}

.extra-links a {
    color: var(--main-color);
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}
